<ion-view>
<ion-nav-title>{{pname}}</ion-nav-title>
  <ion-content class="padding">
    <div class="list">
	<a class="item">
	<i>头像</i>
	<img ng-src='{{spic}}' class="fright"></img>
	</a>
	<a class="item">
	<i>姓名</i>
	<i class="fright">{{pname}}</i>
	</a>
	</div>
	
	<div class="list">
	<a class="item">
	<i>手机号码</i>
	<i class="fright">{{tel}}</i>
	</a>
	<a class="item">
	<i>QQ号码</i>
	<i class="fright">{{qq}}</i>
	</a>
	<a class="item ">
	<i >电子邮箱</i>
	<i class="fright">{{email}}</i>
	</a>
	</div>
	
  </ion-content>
</ion-view>
